html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	word-break: break-word;
}

svg.defs {
	display: none;
	width: 0;
	height: 0;
	visibilty: hidden;
}

.mobile {
	display: block;
	@media (min-width: 1000px) {
		display: none;
	}
}

.desktop {
	display: none;
	@media (min-width: 1000px) {
		display: inherit;
	}
}

ul.none {
	list-style: none;
	padding: 0;
	margin: 0;
}

.lazy {
    opacity: 0;
    transition: opacity 300ms;
}

.lazy.loaded {
    opacity: 1;
}

section#messages .alert-success {
	border-radius: 0.25rem;
    background-color: $green;
    padding: .5rem;
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 1.25rem;
}

section#messages .alert-success button {
	display: none;
}

.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: $lightGrey;
  fill: $lightGrey;
}

.icon.dark {
	stroke: $blue;
	fill: $blue;
}

main {
	margin-top: 5rem;
	box-shadow: $shadow-bottom;
	@media(min-width: 1000px) {
		margin-top: auto;
	}
}

.container {
	padding: 0;
	/* box-shadow: $shadow-double;*/
	@media (min-width: 1000px) {
		padding: 3rem;
		box-shadow: none;
	}
}

.layout-flex {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;

	max-width: 1200px;
	margin: auto;

	@media(min-width: 1000px) {
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
	}
}

.layout-flex h2 {
	/* padding-top: 1rem;*/
    text-align: center;
    margin: 0;
}

.layout-flex .quote,
.layout-flex .testimonials,
.layout-flex .content {
	background-color: $lightGrey;
	border-radius: $radius;
	box-shadow: $shadow;

	padding: 1rem;
}

.layout-flex .sidebar {
	order: 2;
	margin-top: 2rem;
	@media(min-width: 1000px) {
		order: 1;
		margin-top: 0;
	}
}

.layout-flex .content {
	flex-grow: 2;
	width: 100%;
	box-sizing: border-box;
	border-radius: 0;
	padding: 1.5rem .5rem;
	order: 1;
	background-color: lighten($lightGrey, 5%);
	box-shadow: none;
	@media (min-width: 1000px) {
		background-color: $lightGrey;
		border-radius: $radius;
		box-shadow: $shadow;
		order: 2;
		margin-left: 3rem;
		padding: 1rem;
	}
}

.content h1 {
	margin-top: 0;
}

.layout-flex .sidebar .testimonials {
	@media (min-width: 1000px) {
		margin-top: 3rem;
	}
}

.testimonials .spacer:last-child {
	display: none;
}

.layout-flex .testimonials .testimonial-content {
	margin-bottom: 0.5rem;
}

.layout-flex .testimonials .testimonial-author {
	margin-top: 0;
	font-weight: 700;
}

.layout-flex .sidebar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	flex-grow: 1;
	width: 100%;
	@media (min-width: 1000px) {
		max-width: 300px;
	}
}

.layout-flex .sidebar > div {
	max-width: 300px;
	margin: 1rem;
	width: 100%;
	@media (min-width: 1000px) {
		margin: auto;
	}
}

form {
	/* padding: 1rem;*/
}

form label {
	display: none;
}

input:focus,
textarea:focus {
	outline: none;
}

textarea {
	resize: none;
}

form input,
form textarea {
	display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    margin: 0.5rem 0;
   box-shadow:         inset 0 0 3px lighten($midGrey, 30%);
}

form input:nth-child(2) {
	margin-top: 0;
}

form button {
	border: none;
	background-color: $blue;
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	width: 100%;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: $radius;
	transition: background-color 300ms;
}

form button:hover,
form button:active {
	background-color: lighten($blue, 20%);
	cursor: pointer;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    darken($lightGrey, 15%);
    font-weight: 300;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    darken($lightGrey, 15%);
   font-weight: 300;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    darken($lightGrey, 15%);
   font-weight: 300;
}

::placeholder { /* Most modern browsers support this now. */
   color:    darken($lightGrey, 15%);
   font-weight: 300;
}

.content .spacer:last-child {
	display: none;
}

.segment {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	@media(min-width: 1000px) {
		flex-direction: row;
		/* align-items: flex-start;*/
	}
}

.segment h2 {
	text-align: left;
}

.segment .text {
	box-sizing: border-box;
	padding: 0 1rem;
	width: 100%;
	flex-grow: 1;
	@media(min-width: 1000px) {
		width: calc(100% - 200px - 1rem);
	}
}

.segment-image-container {
	max-width: 200px;
	margin-right: 1rem;
}

.segment img {
    border-radius: 0.25rem;
    max-width: 100%;
}