$shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-up: 0 -2px 3px rgba(0,0,0,.5);
$shadow-bottom: 0 2px 3px rgba(0,0,0,.5);
$shadow-double: 0 1px 3px rgba(0,0,0,1), 0 1px 2px rgba(0,0,0,1), 0 -1px 3px rgba(0,0,0,0.12), 0 -1px 2px rgba(0,0,0,0.24);
$shadow-hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$radius: 0.25rem;

$lightGrey: #E6E6E6;
$midGrey: #393939;
$darkGrey: #1F1F1F;
$offBlack: #1F1F1F;

$red: #ff3333;
$blue: #0066cc;
$green: #4cd137;